[submodule "can-cicd"]
	path = thirdparty/can-cicd
	url = https://github.com/eagletrt/can-cicd
[submodule "thirdparty/wiringpi"]
	path = thirdparty/wiringpi
	url = https://github.com/wiringpi/wiringpi
